<html>
	<head>
		<meta charset="utf-8">
		<title>Help: {% block title %}главная страница{% endblock %}</title>
		<link rel="stylesheet" href="libraries/css/foundation.css">
		<link rel="stylesheet" href="libraries/css/normalize.css">
		<script language="javascript" type="text/javascript" src="libraries/js/foundation.min.js">
		</script>
	</head>

	<body>
	<div class="row">
		<div class="large-12 columns">
			<h2>Help: введение в технологии программирования</h2>
			<hr />
		</div>
	</div>
	</body>
</html>